#
# FIRSTRUN_ACTION:
#    The following first run actions can be selected for this container:
#
#       freshinstall - A fresh install with default initial configuration will
#                      be performed.
#
#       none         - No action will be performed. *DEFAULT*
#
#       restore      - A backup identified by the OTRS_BACKUP_DATE setting
#                      will be restored.
#
#       updateconfig - Configuration will be updated using settings in this file.
#
FIRSTRUN_ACTION=updateconfig


################################################################################
# Required Settings                                                            #
################################################################################
OTRS_DB_SERVER=mysql-server.example.com
MYSQL_ROOT_PASSWORD=xxxxxx


################################################################################
# Database Settings
################################################################################

# OTRS_DATABASE: Database to be used by OTRS
#
# Default: otrs
#OTRS_DATABASE=otrs

# OTRS_DB_USER: OTRS database user
#
# Default: otrs
#OTRS_DB_USER=otrs

# OTRS_DB_PASSWORD:
#    Password for OTRS_DB_USER. If not set a 16 character password will be
#    generated and used.
#
#OTRS_DB_PASSWORD=password

# TO DO: Verify non-default values work for all types of FIRSTRUN_ACTION


################################################################################
# Optional Settings                                                            #
################################################################################

# OTRS_ROOT_PASSWORD:
#    Password for the admin user, root@localhost. If not set a random password
#    of 16 characters will be generated and output to the log.
#
#OTRS_ROOT_PASSWORD=password

# OTRS_BACKUP_DATE:
#    Used during "restore" first run action.  Sub-directory containing the OTRS
#    backup to be restored. Sub-directory name is usually the date and time that
#    the backup occurred using the format: YYYY-MM-DD_HH-MM
#
#OTRS_BACKUP_DATE=2017-06-04_02-00

# OTRS_HOSTNAME:
#    Domain name that will be used for accessing the OTRS server.
#
#OTRS_HOSTNAME=yourhost.example.com

# OTRS_ADMIN_EMAIL:
#    Email of OTRS administrator.
#
#OTRS_ADMIN_EMAIL=admin@example.com

# OTRS_ORGANIZATION:
#    Name of organization being served by this instance of OTRS.
#
#OTRS_ORGANIZATION=Example Company

# OTRS_SYSTEM_ID:
#    System identifier. Every ticket number and http session string contains this ID.
#    This ensures that only tickets which belong to your system will be processed as
#    follow-ups (useful when communicating between two instances of OTRS).
#
#OTRS_SYSTEM_ID=10

# OTRS_LANGUAGE:
#    Default language.
#
#OTRS_LANGUAGE=en

# OTRS_NUMBER_GENERATOR:
#    Selects the ticket number generator module.
#
#OTRS_NUMBER_GENERATOR=AutoIncrement

# OTRS_TICKET_COUNTER:
#    Number to be used for next ticket.
#
#OTRS_TICKET_COUNTER=500

# OTRS_POSTMASTER_FETCH_TIME:
#    Frequency from 1-59 minutes for checking new mail. Set to 0 to disable checking.
#
# Default: 0
#OTRS_POSTMASTER_FETCH_TIME=0

# OTRS_DISABLE_PHONE_HOME:
#    Disables communications by OTRS with external services and allows settings to be
#    modified by SysConfig GUI.
#
#OTRS_DISABLE_PHONE_HOME=no
